<br>
<H1>Habilidades de desarrollador</H1>

<br>

<div class="container">

<div class="row">
  
    
  <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [subtitle]="'HTML'"
    [percent]="85"
    [radius]="150"

    [outerStrokeWidth]="9"
    [space]="-9"
    [innerStrokeWidth]="9"
    
    titleColor = #ffffff
    unitsColor = #ffffff


    [outerStrokeGradient]="true"
    
    
    [outerStrokeColor]="'#9dff00'"
    [outerStrokeGradientStopColor]="'#36dd4a'"
    [innerStrokeColor]="'#595959'"

  


    [animation]="true"
    [animationDuration]="300"
    [backgroundStrokeWidth]="100"
    [backgroundPadding]="0"

    titleFontSize=55
    unitsFontSize=50
    subtitleFontSize=45


    [responsive]="true"


  ></circle-progress>
 </div>


 <div class="text-center col-sm-3 col-md-3 col-lg-3">
  <circle-progress
  [subtitle]="'CSS'"
  [percent]="85"
  [radius]="150"

  [outerStrokeWidth]="9"
  [space]="-9"
  [innerStrokeWidth]="9"
  
  titleColor = #ffffff
  unitsColor = #ffffff


  [outerStrokeGradient]="true"
  
  
  [outerStrokeColor]="'#9dff00'"
  [outerStrokeGradientStopColor]="'#36dd4a'"
  [innerStrokeColor]="'#595959'"




  [animation]="true"
  [animationDuration]="300"
  [backgroundStrokeWidth]="100"
  [backgroundPadding]="0"

  titleFontSize=55
    unitsFontSize=50
    subtitleFontSize=45


  [responsive]="true"
></circle-progress>
</div>



<div class="text-center col-sm-3 col-md-3 col-lg-3">
  <circle-progress

   [subtitle]="'Java Script'"
    [percent]="85"
    [radius]="150"

    [outerStrokeWidth]="9"
    [space]="-9"
    [innerStrokeWidth]="9"
    
    titleColor = #ffffff
    unitsColor = #ffffff


    [outerStrokeGradient]="true"
    
    
    [outerStrokeColor]="'#9dff00'"
    [outerStrokeGradientStopColor]="'#36dd4a'"
    [innerStrokeColor]="'#595959'"

  


    [animation]="true"
    [animationDuration]="300"
    [backgroundStrokeWidth]="100"
    [backgroundPadding]="0"

    titleFontSize=55
    unitsFontSize=50
    subtitleFontSize=45


    [responsive]="true"
></circle-progress>
</div>


<div class="text-center col-sm-3 col-md-3 col-lg-3">
  <circle-progress
    [subtitle]="'GitHub'"
    [percent]="85"
    [radius]="150"

    [outerStrokeWidth]="9"
    [space]="-9"
    [innerStrokeWidth]="9"
    
    titleColor = #ffffff
    unitsColor = #ffffff


    [outerStrokeGradient]="true"
    
    
    [outerStrokeColor]="'#9dff00'"
    [outerStrokeGradientStopColor]="'#36dd4a'"
    [innerStrokeColor]="'#595959'"

  


    [animation]="true"
    [animationDuration]="300"
    [backgroundStrokeWidth]="100"
    [backgroundPadding]="0"

    titleFontSize=55
    unitsFontSize=50
    subtitleFontSize=45


    [responsive]="true"
></circle-progress>
</div>
 
<div class="text-center col-sm-3 col-md-3 col-lg-3">
  <circle-progress
  [subtitle]="'Ingles'"
  [percent]="85"
  [radius]="150"

    [outerStrokeWidth]="9"
    [space]="-9"
    [innerStrokeWidth]="9"
    
    titleColor = #ffffff
    unitsColor = #ffffff


    [outerStrokeGradient]="true"
    
    
    [outerStrokeColor]="'#9dff00'"
    [outerStrokeGradientStopColor]="'#36dd4a'"
    [innerStrokeColor]="'#595959'"

  


    [animation]="true"
    [animationDuration]="300"
    [backgroundStrokeWidth]="100"
    [backgroundPadding]="0"

    titleFontSize=55
    unitsFontSize=50
    subtitleFontSize=45


    [responsive]="true"
></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-3 col-lg-3">
  <circle-progress
  [subtitle]="'Diseño'"
  [percent]="85"
  [radius]="150"

    [outerStrokeWidth]="9"
    [space]="-9"
    [innerStrokeWidth]="9"
    
    titleColor = #ffffff
    unitsColor = #ffffff


    [outerStrokeGradient]="true"
    
    
    [outerStrokeColor]="'#9dff00'"
    [outerStrokeGradientStopColor]="'#36dd4a'"
    [innerStrokeColor]="'#595959'"

  


    [animation]="true"
    [animationDuration]="300"
    [backgroundStrokeWidth]="100"
    [backgroundPadding]="0"

    titleFontSize=55
    unitsFontSize=50
    subtitleFontSize=45


    [responsive]="true"
></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-3 col-lg-3">
  <circle-progress
  [subtitle]="'T.Equipo'"
  [percent]="85"
  [radius]="150"

    [outerStrokeWidth]="9"
    [space]="-9"
    [innerStrokeWidth]="9"
    
    titleColor = #ffffff
    unitsColor = #ffffff


    [outerStrokeGradient]="true"
    
    
    [outerStrokeColor]="'#9dff00'"
    [outerStrokeGradientStopColor]="'#36dd4a'"
    [innerStrokeColor]="'#595959'"

  


    [animation]="true"
    [animationDuration]="300"
    [backgroundStrokeWidth]="100"
    [backgroundPadding]="0"

    titleFontSize=55
    unitsFontSize=50
    subtitleFontSize=45


    [responsive]="true"
></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-3 col-lg-3">
  <circle-progress
  [subtitle]="'Experiencia'"
  [percent]="85"
  [radius]="150"

    [outerStrokeWidth]="9"
    [space]="-9"
    [innerStrokeWidth]="9"
    
    titleColor = #ffffff
    unitsColor = #ffffff


    [outerStrokeGradient]="true"
    
    
    [outerStrokeColor]="'#9dff00'"
    [outerStrokeGradientStopColor]="'#36dd4a'"
    [innerStrokeColor]="'#595959'"

  


    [animation]="true"
    [animationDuration]="300"
    [backgroundStrokeWidth]="100"
    [backgroundPadding]="0"

    titleFontSize=55
    unitsFontSize=50
    subtitleFontSize=45


    [responsive]="true"
></circle-progress>
</div>
 
 </div>

 <br>
 <br>
 <br>


</div>