<br>
<br>
<br>
<div class="sobreMi">

    
  <img src="../../../assets/Ovi.png" class="img-fluid">

  <div class="info">
    
    <h1>Sobre Mi</h1>
    <h2>Me llamo Osvaldo Deleglise</h2>
    <p>Full Stack Developer Jr</p>
  
    <br>
    <div class="cuadro">  
        <p class="tipeo">Informacion Personal:
            </p>
    </div>  

    <br>

    <p class="cuadro"> Soy de Argentina, tengo actualmente 22 años, mi profesion es ser Programador Web y Diseñador Grafico. 
    <br><br>
    Este es mi portafolio web para el #ArgentinaPrograma, espero que les guste!
    </p>
  
    <br>
    <br>
   
    <a class="boton" href="#" style="--clr:rgb(0, 255, 55)"> <span>Saber Mas</span> </a>
    

  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    

