<section class="banner">
  
  <main class="main">
   <div class="info">
    

      <button type="button" class="btn btn-dark" routerLink="/edithead/1" *ngIf="isLogged">
          Editar Persona
      </button>


     <h1 class="titulo">Hola!</h1>
     <h1>Me llamo <span>      {{persona === null ? '' : persona.nombre}} {{persona === null ? '' : persona.apellido}} </span></h1>
     <h3 class="info-sub"><br>"Programador web Full Stack"</h3>
     

     <div class="info-social">
     <i class="instagram">IG</i>  
     <i class="instagram">FK</i> 
     <i class="instagram">LK</i> 
     </div>



     <p class="info-p">
      
      <span>Informacion sobre mi:</span>
      {{persona === null ? '' : persona.descripcion}}
     </p>
 
     

     <br>
     <br>
     
   
   </div>
   <img [attr.src]="persona === null ? '' : persona.img" class="img-fluid fotoDePerfil"> 

  </main>




 
  


 
</section>
