<section class="banner">
  
  <main class="main">
   <div class="info">
    
   

     <h1 class="titulo">Hola!</h1>
     <h1>Me llamo <span>{{persona.nombre}} {{persona.apellido}}</span></h1>
     <h3 class="info-sub"><br>"Programador web Full Stack"</h3>

     <div class="info-social">
     <i class="instagram">IG</i>  
     <i class="instagram">FK</i> 
     <i class="instagram">LK</i> 
     </div>



     <p class="info-p">
      
      <span>Informacion sobre mi:</span>
      Soy de Argentina (Buenos Aires), tengo actualmente 22 años, me dedico a trabajar y estudiar,
       mi profesion es ser Programador web y Diseñador grafico, este es mi portafolio web como parte 
       del proyecto final del #ArgentinaPrograma, espero que les guste.
     </p>

     <br>
     <br>
     <a class="boton" href="#" style="--clr:rgb(0, 255, 55)"> <span>Descargar CV</span> </a>

   </div>

   <img class="ovi" src="../../../assets/Burbuja.png">

  </main>

 
  


 
</section>
 
