<section class="banner">
    <div class="row">
        <div class="container">
            <div class="logo">
                <img src="../../../assets/APLogo.png" id="logoAP">
            </div>
            <div class="redes">
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
            </div>
        </div>
    </div>
    
    
</section>

